
.screen-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }


  .right-container {
    display:flex;
    flex-direction: column;
    width: 100%;
  }

  .top-bar{
    display: flex;
    background-color: rgb(25,25,25);
    color:white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .user-icon{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(80,80,80);
  }

  .user-icon button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
  }


  .chat-container {
    display: flex;
    flex:1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0)
  }
  .dropdown-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(60, 60, 60);
    width: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 100;
  }

  .dropdown-menu button {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
  }

  .sidebar{
    width: 260px;
    background-color: rgb(30, 30, 30);
    padding: 20px;
    overflow-x: hidden;
    color:white;
    height: 100%
  }

  .side-text{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(30, 30, 30));
    color: transparent;
    background-clip: text;
  }

  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-top: auto;
    background-color: rgb(25,25,25);
    background-size: cover;
    scroll-behavior: smooth;
  }

  .messages-container.dark-mode .message{
    background-color: #121212;
    color: white;
  }

.messages-container.bright-mode .message{
  background-color: #ffffff;
  color: black;
}
  
  .message {
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    position: relative;
  }
  
  .message-time {
    font-size: 12px;
    color: #aaa; /* Light gray color */
    margin-left: 10px;
    position: absolute;
    bottom: -20px;
  }

  .message.user {
    text-align: right;
    background-color: rgba(45, 45, 45, 0.918);
    border-radius: 50px;
    border-bottom-right-radius: 0;
    margin-left: auto;
    width: fit-content;
    max-width: 500px;
    opacity: 1;
    
  }
  
  .message.bot {
    text-align: left;
    background-color: rgba(37, 94, 109, 0.904);
    border-radius: 50px;
    border-bottom-left-radius: 0;
    margin-right: auto;
    width: fit-content;
    max-width: 500px;
  }
  
  .input-container {
    background-color: rgb(25,25,25);
    display: flex;
    padding: 10px;
  }
  
  .input-container input {
    width: 1600px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 100px;
    opacity: 1;
    background-color: #131313;
    color: white;
  }
  
  .input-container button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(30, 30, 30);
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: rgba(30, 30, 30, 0.5);
  }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin-bottom: 5px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 10px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(25, 25, 25);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(20, 20, 20);
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%
}